/***********************TAG SELECTORS***********************/

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.8rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Merriweather', serif;
}

p {
    color: #8f8f8f;
}

/***********************CLASS SELECTORS***********************/
.carousel-item {
    padding: 7% 15%;
}

.container-fluid {
    padding: 3% 15%;
    /* padding-left: 0px; */
}

.container-fluid-tinDog {
    padding-top: 0;
    padding-left: 0;
    /* padding-bottom: 2rem; */
}

.container-fluid-tinDog-additional {
    margin: 0 50px;
    padding-top: 0;
    /* padding-bottom: 2rem; */
    padding-left: 12rem;
}

.content {
    text-align: center;
}
.cta-heading{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;



}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.pricing-colum {
    padding: 2% 3%;
}
.social-icon{
    margin: 20px 10px;
}
.title-dow {

    padding: 3% 15%;
}

.tinDog-img-icon {
    width: 25%;
}

.title-image {
    width: 55%;
    transform: rotate(25deg);
    /* position: absolute;
    padding-left: 50px; */



}

.testimonial-img {
    width: 12.5%;
    border-radius: 100%;
    margin: 20px;
}

/***********************ID SELECTORS***********************/
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
#features {
    padding: 7% 15%;
    background-color: #fff;
    /* position: relative; */


}
#footer{
    padding: 7% 15%;
    text-align: center;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

#pricing {
    padding: 7% 15%;
    text-align: center;
}

/***********************Media Queries***********************/

@media (max-width : 980px)
{
    #title{
        text-align: center;
    }
    .title-image{
        padding-top: 20px;
        transform: rotate(0);

    }
}